

#container{
    display: grid;
    grid-template-columns: 50% 50%;
   /*  border: 1px solid red; */
}

#container img{
    float: right;
}

#container h4{
    font-size: 30px;  
}
#container p{
    font-size: 20px;  
}
#container button{
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: black;
    color: white;
}   

#bag{
    margin: auto;
}

